body {
    font-family: Roboto, sans-serif;
    background-color: #fafafa;
  }
  .ripple-effect {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: white;
    background-color: black;
    display: block;
    padding: 12px 24px;
    border-radius: 10px;
    overflow: hidden;
    div {
      position: absolute;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 50rem;
      background-color: white;
      animation: rippleEffect 1s linear infinite;
    }
  }
  
  @keyframes rippleEffect {
    from {
      width: 0;
      height: 0;
      opacity: .7;
    }
    to {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }