.loginForm{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding: 30px;
    background-color: rgba(200, 200, 200, 0.15);
}
.logNavLink{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.loginbtn{
    width: 300px;
}
.navlink{
}
.navlink:hover{
    display: inline-block;
    background: linear-gradient(to right, #0044ff, #000a99, #3700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.loginBtn.ripple-effect{
    color: blue;
}
.loginComponents{
    margin: 0 0 1em 0;
}
.adminInfo{
    display: flex;
    justify-content: center;
    font-size: 40px
}